.home-header {
  background-color: white;
	background-image: url(https://media.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif);
  background-size: cover;
  background-position: left center;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}