.square {
  height: 100%;
  background-image: 
    linear-gradient(transparent 11px, rgba(0, 0, 0, 0.10) 12px, transparent 12px),
    linear-gradient(90deg, transparent 11px, rgba(0, 0, 0, 0.10) 12px, transparent 12px);
    background-size: 100% 12px, 12px 100%;
  
}

.my-fullheight {
  min-height: calc(100vh - 56px);
}

.login-box {
  margin-top: 7vh;
}